<div class="container">
  <header>
    <div class="configurations">
      <form action="/edit" method="get">
        <button type="submit" class="add-button">Create new note</button>
      </form>
      <div>
        <div class="sort-label">Sort by:</div>
        <div class="sort-options">
          <form action="/" method="post">
            <input type="hidden" name="orderBy" value="finishDate" />
            <button type="submit" class="btn-color-sort-filter">By finish date</button>
          </form>
          <form action="/" method="post">
            <input type="hidden" name="orderBy" value="createDate" />
            <button type="submit" class="btn-color-sort-filter">By create date</button>
          </form>
          <form action="/" method="post">
            <input type="hidden" name="orderBy" value="importance" />
            <button type="submit" class="btn-color-sort-filter">By Importance</button>
          </form>
        </div>
      </div>
    </div>
    <aside>
      <form action="/" method="post" class="filter">
        <input type="hidden" name="theme"
               value="{{#ifEquals theme 'light' }}dark{{else}}light{{/ifEquals}}" />
        <button type="submit">Use {{#ifEquals theme 'light' }}
          Dark{{else}}Light{{/ifEquals}}-Theme</button>
      </form>
      <form action="/" method="post" class="filter">
        <input type="hidden" name="showFinished"
               value="{{#if showFinished }}false{{else}}true{{/if}}" />
        <button type="submit"
                class="{{#if showFinished }}hide{{else}}show{{/if}}-finished-button">{{#if
            showFinished }}Hide{{else}}Show{{/if}} finished</button>
      </form>
    </aside>
  </header>
  <main>
    {{#each notes}}
      {{#if _id}}
        <article class="box">
          <div class="note-info box">
            <div class="note-dates">
              <h4>Created: {{formatDate createDate }}</h4>
              <div>
                <input id="finished{{id}}" {{#if finished}}checked{{/if}} type="checkbox" disabled>
                <label for="finished{{id}}">Finished  [ <time>{{formatDate finishDate }}</time> ]</label>
              </div>
            </div>
            <div class="note-text">
              <h4 class="note-title">{{ title }}</h4>
              <div class="note-description">{{ description }}</div>
            </div>
            <div class="importance">
              {{#times importance}}
                <span class="importance-element"><img src="../img/lightning-bolt.svg" alt="lightning-bolt"></span>
              {{/times}}
            </div>
          </div>
          <div class="edit-button-holder">
            <a href="/edit/{{ _id }}" class="button">Edit</a>
          </div>
        </article>
      {{/if}}
    {{else}}
      <div class="empty-message">
        <div>Sorry, no note was found.</div>
        <form action="/edit" method="get">
          <button type="submit" class="add-button">Create first note</button>
        </form>
      </div>
    {{/each}}
  </main>
  <footer></footer>
</div>

