{{#each this}}
    {{#if _id}}
    <article class="box">
        <div class="noteInfo box">
            <div class="noteDates">
                <h4>{{formatDate createDate }}</h4>
                <input id="finished{{id}}" {{#if finished}}checked{{/if}} type="checkbox" disabled>
                <label for="finished{{id}}">Finished  [ <time>{{formatDate finishDate }}</time> ]</label>
            </div>
            <div class="noteText">
                <h4 class="noteTitle">{{ title }}</h4>
                <div class="noteDescription">{{ description }}</div>
                {{#times importance}}
                    <span class="importance"><img src="../img/lightning-bolt.svg"></span>
                {{/times}}
            </div>
        </div>
        <div class="editButtonHolder box">
            <a href="/noteForm/{{ _id }}"><button class="editButton">Edit</button></a>
        </div>
    </article>
    {{/if}}
{{/each}}